<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966718570949-6kjlf2hll9n13b6o6sei2nahgovn85hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966718570949-6kjlf2hll9n13b6o6sei2nahgovn85hl</string>
	<key>API_KEY</key>
	<string>AIzaSyA9TO788SHz5_4AO7_G17-4qfk437own50</string>
	<key>GCM_SENDER_ID</key>
	<string>966718570949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nlcc.worshipTeamScheduler</string>
	<key>PROJECT_ID</key>
	<string>worship-team-scheduler-c7ced</string>
	<key>STORAGE_BUCKET</key>
	<string>worship-team-scheduler-c7ced.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966718570949:ios:c5abfb6b447cd192194bac</string>
</dict>
</plist>